
.icon1{
    font-size: 35px;
    color: #6439ff;
   
}
.icon2{
    font-size: 35px;
    color: #8a72e2;
   
}
.icon3{
    font-size: 35px;
   color: #a79fc9;
   
}
.icon4{
    font-size: 35px;
    color: rgb(90, 81, 90);
   
}